<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {{ fontawesome_html() }}

        {% block styles %}
            <!-- Bootstrap CSS -->
            <style>
                #masthead {
                -webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
                -moz-box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
                box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
                }
            </style>
            {{ bootstrap.load_css() }}
            <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        {% endblock %}

        <title>Braskomics</title>
        {% endblock %}
    </head>
    <body>
        <div class="mb-1" id="masthead">
            <nav class="navbar navbar-expand-md navbar-light bg-white">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('app.index')}}">Braskomics</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('app.index')}}"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('app.queries')}}"><i class="fas fa-search"></i> Queries <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <br>
        <!-- Your page content -->
        {% block content %}{% endblock %}

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" ></script>
        {% endblock %}
    </body>
</html>
