{% extends 'base.html' %}

{% block title %}Gene data{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="container">
        <h3>Listing all reactions linked to orthologs of {{gene}}</h3>
        <br>
        {% if data %}
        <table style="text-align:center;" class="table">
            <tr>
                <th>Gene1 label</th>
                <th>Ortholog label</th>
                <th>Reaction label</th>
            </tr>
            {% for val in data %}
            <tr>
                <td>{{ val.gene1_Label.value }} </td> 
                <td>{{ val.gene2_Label.value }} </td> 
                <td>{{ val.reaction1_Label.value }} </td> 
            </tr>
            {% endfor %}
        </table>
        {% else %}
            <p>No reactions include and ortholog of this gene</p>
        {% endif %}
  </div>
</div>

<br>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}
