{% extends 'base.html' %}

{% block title %}Gene data{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="container">
        <h3>Listing all reactions and pathways associated with {{gene}}</h3>
        <br>
        {% if data %}
        <table style="text-align:center;" class="table">
            <tr>
                <th>Gene label</th>
                <th>Reaction label</th>
                <th>Pathway label</th>
                <th>Pathway common name</th>
            </tr>
            {% for val in data %}
            <tr>
                <td>{{ val.gene1_Label.value }} </td> 
                <td>{{ val.reaction1_Label.value }} </td> 
                <td>{{ val.pathway1_Label.value }} </td> 
                <td>{{ val.pathway1_COMMON_NAME.value }} </td> 
            </tr>
            {% endfor %}
        </table>
        {% else %}
            <p> No reaction and pathways associated with this gene</p>
        {% endif %}
  </div>
</div>

<br>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}
