{% extends 'base.html' %}

{% block title %}Braskomics{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="container">
          <label for="gene">Select your gene: </label>
          <input id="gene">
          <button class="btn btn-info gene_react" data-url="/test/genes/">Reactions</button>
          <button class="btn btn-info gene_react" data-url="/test/genes_ortho/" >Ortholog reactions</button>
  </div>
</div>

<br>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/genes.js') }}"></script>
{% endblock %}
